@page "/pizzas"

@using BlazingPizza.Data
@inject PizzaService PizzaSvc

<h1>Choose your pizza</h1>

<p>while have all these delicious recipes</p>

@code{
    private Pizza[] todaysPizzas;
    protected override async Task OnInitializedAsync(){
        todaysPizzas = await PizzaSvc.GetPizzasAsync();
    }
}